
:root {



  --cadet-blue-crayola: hsl(240, 10%, 70%);
  --gold-web-golden: hsl(50, 100%, 54%);
  --vivid-sky-blue: hsl(196, 84%, 63%);
  --midnight-blue: hsl(231, 83%, 25%);
  --minion-yellow: hsl(50, 100%, 64%);
  --independence: hsl(225, 24%, 27%);
  --orange-soda: hsl(7, 96%, 61%);
  --space-cadet: hsl(243, 23%, 18%);
  --fiery-rose: hsl(353, 83%, 65%);
  --klein-blue: hsl(230, 80%, 39%);
  --bluetiful: hsl(222, 88%, 55%);
  --glaucous: hsl(230, 52%, 63%);
  --manatee: hsl(254, 7%, 65%);
  --rufous: hsl(2, 85%, 35%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);

  --ff-open-sans: 'Open Sans', sans-serif;
  --ff-barlow: 'Barlow', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;

  --fs-1: 3.5rem;
  --fs-2: 3rem;
  --fs-3: 2.4rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.3rem;

  --fw-600: 600;
  --fw-700: 700;


  --radius-5: 5px;
  --radius-10: 10px;
  --radius-15: 15px;
  --radius-20: 20px;


  --section-padding: 60px;


  --shadow: 0 -5px 10px var(--manatee);


  --transition-1: 0.05s ease;
  --transition-2: 0.25s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);

}



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
input,
strong,
button,
textarea,
ion-icon { display: block; }

img { height: auto; }

ion-icon {
  pointer-events: none;
  color: var(--white);
}

button,
input,
textarea {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer; }

input,
textarea { width: 100%; }

address { font-style: normal; }

html {
  font-size: 10px;
  font-family: var(--ff-open-sans);
  scroll-behavior: smooth;
  scroll-padding-top: 40px; /* match your header height */

}

body {
  background-color: black;
  color: var(--cadet-blue-crayola);
  font-size: 1.6rem;
  line-height: 1.6;
  overflow-x: hidden;
}

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 15px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 95%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 20px; }

.btn {
  color: var(--white);
  font-family: var(--ff-barlow);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  max-width: max-content;
  padding: var(--padding, 10px 40px);
  border-radius: 50px;
  transition: var(--transition-2);
}

.btn-primary.blue { background-color: var(--klein-blue); }

.btn-primary.blue:is(:hover, :focus) { background-color: var(--orange-soda); }

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section { padding-block: var(--section-padding); }

.section-subtitle {
  color: var(--orange-soda);
  font-family: var(--ff-barlow);
  font-size: var(--fs-3);
  text-align: center;
}

.h2,
.h3 {
  color: var(--white);
  font-family: var(--ff-barlow);
  font-weight: var(--fw-600);
  line-height: 1.3;
}

.h2 { font-size: var(--fs-4); }

.h3 { font-size: var(--fs-3); }

.section-title,
.section-text { text-align: center; }





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position: fixed;
  padding-block: 15px;
  width: 100%;
  background-color: var(--space-cadet);
  height: 65px;
  box-shadow: var(--shadow);
  overflow: hidden;
  transition: 0.25s var(--cubic-out);
  z-index: 4;
}

.header.nav-active {
  height: 200px;
  transition-duration: 0.35s;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--white);
  font-family: var(--ff-poppins);
  font-size: 2.4rem;
}

.nav-toggle-btn { font-size: 3rem; }

.nav-toggle-btn .close-icon,
.nav-toggle-btn.active .menu-icon { display: none; }

.nav-toggle-btn.active .close-icon,
.nav-toggle-btn .menu-icon { display: block; }

.navbar {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  padding-inline: 20px;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-2);
}

.header.nav-active .navbar {
  visibility: visible;
  opacity: 1;
}

.navbar-link {
  color: var(--white);
  font-family: var(--ff-barlow);
  padding-block: 3px;
  transition: background-color 0.6s ease, color 0.6s ease;
}

.navbar-link:is(:hover, :focus) { color: var(--orange-soda); }

.navbar .btn {
  background-color: lightskyblue;
  margin-block-start: 15px;
}








/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.elem,
.rotate-img { display: none; }

.hero {
  background-image: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 100px var(--section-padding);
  height: 100vh;
  display: grid;
  place-items: center;
}

.hero-banner {
  width: 150px;
  height: 172px;
  background-color: var(--independence);
  border-radius: var(--radius-10);
  margin-inline: auto;
  margin-block-end: 30px;
}

.hero-banner img { border-radius: inherit; }

.hero-content {
  text-align: center;
  color: var(--white);
}

.hero-title {
  font-family: var(--ff-barlow);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  line-height: 1.3;
  margin-block-end: 14px;
}

.hero-title strong {
  font-size: var(--fs-1);
  font-weight: inherit;
  margin-block-end: 8px;
}

.hero-text { margin-block-end: 25px; }

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: white;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.65em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
  text-align: center;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}



/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.abs-img,
.abs-icon { display: none; }

.about { padding-block-start: 120px; }

.about-banner {
  background-color: var(--independence);
  border-radius: var(--radius-10);
  margin-block-end: 30px;
}

.about-banner > .img-cover { border-radius: inherit; }

.about :is(.section-title, .section-subtitle, .section-text) { text-align: left; }

.about :is(.section-title, .section-text) { margin-block-end: 30px; }


.social-links,.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  background: white;
  margin: 0.5rem;
  transition: 0.3s;
  justify-content: center;
}

.social-btn svg {
  height: 24px;
  width: 24px;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
}

.social-btn:hover {
  width: 275px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 5px;
  width: 210px;
  text-align: center;
}

#twitter svg {
  fill: #1da1f2;
}

#linkedin svg {
  fill: #0e76a8;
}

#github {
  fill: #333;
}


.parent-about {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
}
    
.div1-about {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 2;
}

.div2-about {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 4;
}


.button1-about {
  margin: auto;
  --bg: var(--orange-soda);
  --text-color: #fff;
  position: relative;
  width: 120px;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 0.65rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
}

.button1-about:hover {
  opacity: 1;
}

.button1-about:active {
  top: 4px;
  box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
}

.meme{
  background: url();
}
        




/*-----------------------------------*\
  #PORTFOLIO
\*-----------------------------------*/

.portfolio .section-title { margin-block-end: 18px; }

.portfolio .section-text { margin-block-end: 80px; }

.portfolio-list {
  display: grid;
  gap: 60px;
}

.portfolio-card {
  background-color: var(--independence);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 20px;
  border-radius: var(--radius-20);
  font-family: var(--ff-barlow);
  color: var(--white);
  font-weight: var(--fw-600);
  transition: var(--transition-2);
}

.portfolio-list > li:nth-child(even) .card-content { margin-inline-start: auto; }

.portfolio-card .card-subtitle {
  color: var(--orange-soda);
  margin-block-end: 5px;
}

.portfolio-card .card-title {
  max-width: 20ch;
  margin-block-end: 20px;
}

.portfolio-card .btn-link {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--fs-6);
  text-transform: uppercase;
}

.portfolio-card .btn-link ion-icon {
  color: var(--orange-soda);
  font-size: 1.6rem;
}


.card {
  max-width: 100%;
  height: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 0.5rem;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right top, #3f4c6b, #606c88);
  padding: 1rem;
  color: rgb(107, 114, 128);
  box-shadow: 0px 87px 78px -39px rgba(0,0,0,0.4);

}

.icon {
  height: 3.5rem;
  width: 3.5rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: #153586;
  color: rgb(59, 130, 246);
  margin-top: 0.5rem;
}

.icon svg {
  height: 2.55rem;
  width: 2.55rem;
}

.content {
  margin-left: 0.75rem;
  font-size: 95px;
  line-height: 1.25rem;
  font-weight: 400;
}

.title {
  margin-top: 0.8rem;
  font-size: 2.1rem;
  line-height: 1.95rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.desc {
  margin-top: 0.9rem;
  font-size: 1.5rem;
  line-height: 1.55rem;
  font-weight: 400;
  color: rgb(202, 200, 200);
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 0.5rem;
  gap: 0.5rem;
}

.download, .notnow {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  border-radius: 0.5rem;
  align-items: center;
  padding: 0rem 0.5rem;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1rem;
  color: rgb(255, 255, 255);
  outline: 2px solid transparent;
  border: 1px solid rgba(253, 253, 253, 0.363);
  height: 4.5rem;
}

.download {
  background-color: #284385;
  font-weight: 600;
}

.download:hover {
  background-color: #153586;
}

.notnow {
  background-color: #606c88;
  font-weight: 500;
}

.notnow:hover {
  background-color: #3f4c6b;
}

.close {
  margin: -0.375rem -0.375rem -0.375rem auto;
  height: 2rem;
  width: 2rem;
  display: inline-flex;
  border-radius: 0.5rem;
  background-color: #606c88;
  padding: 0.375rem;
  color: rgba(255, 255, 255, 1);
  border: none;
}

.close svg {
  height: 1.25rem;
  width: 1.25rem;
}

.close:hover {
  background-color: rgb(58, 69, 83);
}


.tab-container-exp {
 max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  position: relative;
  min-height: 250px;
}

.tab-buttons-exp {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.tab-btn-exp {
  padding: 10px 20px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.tab-btn-exp.active-exp {
  background-color: var(--orange-soda);
}

.tab-content-exp {
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: opacity 0.4s ease, transform 0.4s ease;
  background: #2c2c2c;
  padding: 0 20px;
  border-radius: 10px;
  color: white;
  position: absolute;
  width: 100%;
  text-align: justify;

}

.tab-content-exp.active-exp {
   opacity: 1;
  transform: translateY(0);
  visibility: visible;
  height: auto;
  padding: 20px;
  position: relative;
}

.date-exp{
  position: absolute;
  top: 5%;
  right: 4%;
  cursor: pointer;

}

.loc-exp{
  position: absolute;
  top: 10%;
  right: 4%;
  cursor: pointer;

}

.date-exp-2{
  position: absolute;
  top: 54%;
  right: 4%;
  cursor: pointer;

}

.loc-exp-2{
  position: absolute;
  top: 59%;
  right: 4%;
  cursor: pointer;

}

.date-edu-1{
  position: absolute;
  top:12%;
  right: 5%;
  cursor: pointer;

}

.date-edu-2{
  position: absolute;
  top: 58%;
  right: 5%;
  cursor: pointer;

}




/*-----------------------------------*\
  #SKILLS
\*-----------------------------------*/

.skills .section-title { margin-block-end: 20px; }

.skills .section-text { margin-block-end: 70px; }

.skills-list {
  display: grid;
  gap: 25px;
}

.skills-item .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 10px;
}

.skills-title,
.skills-data {
  color: var(--white);
  font-size: var(--fs-5);
  font-family: var(--ff-barlow);
  font-weight: var(--fw-600);
}

.skills-progress-box {
  background-color: var(--white);
  height: 8px;
  border-radius: var(--radius-10);
}

.skills-progress {
  background-color: var(--orange-soda);
  height: 100%;
  border-radius: inherit;
}

.tab-container-skill {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  position: relative;
  min-height: 250px;
}

.tab-buttons-skill {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.tab-btn-skill {
  padding: 10px 20px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.tab-btn-skill.active-skill {
  background-color: var(--orange-soda);
}

.tab-content-skill {
   opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: opacity 0.4s ease, transform 0.4s ease;
  background: #2c2c2c;
  padding: 0 20px;
  border-radius: 10px;
  color: white;
  position: absolute;
  width: 100%;
}

.tab-content-skill.active-skill {
   opacity: 1;
  transform: translateY(0);
  visibility: visible;
  height: auto;
  padding: 20px;
  position: relative;
}


.tech-box{
  background-color: black;
  border-radius: 10px; padding: 15px ;
  margin-top: 10px;

}

.tech-box-info{
  color: hsl(7, 96%, 61%);
}



.cert-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.cert-item {
  width: 48%;
  cursor: pointer;
  text-align: center;

}

.cert-item img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s;
}

.cert-item img:hover {
  transform: scale(1.05);
}

.text-cert{
  background-color: hsl(7, 96%, 61%); color: white; border-radius: 7px; margin-top: 5px
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #222;
  color: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
}





/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

.contact-card {
  background-color: #212121;
  padding: 50px 25px;
  border-radius: var(--radius-20);
}

.contact-card .card-subtitle {
  color: var(--orange-soda);
  font-family: var(--ff-barlow);
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
}

.contact .section-title {
  text-align: left;
  margin-block-end: 30px;
}

.contact-form { margin-block-end: 50px; }

.contact-input {
  background-color: var(--white);
  color: var(--manatee);
  border-radius: var(--radius-5);
  padding: 15px 25px;
  font-size: var(--fs-5);
  margin-block-end: 15px;
}

.contact-input::placeholder { color: inherit; }

textarea.contact-input {
  resize: vertical;
  min-height: 100px;
  height: 180px;
  max-height: 300px;
}

.btn-submit {
  background-color: var(--orange-soda);
  color: var(--white);
  font-family: var(--ff-barlow);
  font-size: var(--fs-5);
  width: 100%;
  padding: 10px;
  border-radius: var(--radius-5);
  transition: var(--transition-2);
}

.btn-submit:is(:hover, :focus) {
  background-color: var(--white);
  color: var(--black);
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.contact-item:not(:last-child) { margin-block-end: 20px; }

.contact-icon {
  background-color: var(--orange-soda);
  font-size: 2.4rem;
  padding: 20px;
  border-radius: 50%;
}

.contact-item-title {
  color: var(--white);
  font-family: var(--ff-barlow);
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
}

.contact-item-link { transition: var(--transition-1); }

.contact-item-link:not(address):is(:hover, :focus) { color: var(--white); }

.g-recaptcha {

  transform: scale(1);
  transform-origin: 0 0;
  background-color: var(--white);
  color: var(--manatee);
  border-radius: var(--radius-5);
  font-size: var(--fs-5);
  margin-block-end: 15px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background: #2c2c2c;
  color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px #000;
}

.popup-content button {
  margin-top: 10px;
  background: var(--orange-soda);
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.popup-content button:hover {
  background: #fff;
  color: var(--orange-soda);
}




/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog { padding-block-end: 120px; }

.blog .section-title { margin-block-end: 20px; }

.blog .section-text { margin-block-end: 80px; }

.blog-list {
  
  gap: 40px;
}

.blog-card { font-family: var(--ff-barlow); }

.blog-card .card-banner {
  background-color: var(--independence);
  border-radius: var(--radius-15);
  overflow: hidden;
  margin-block-end: 20px;
}

.blog-card .card-banner img { transition: var(--transition-2); }

.blog-card .card-banner a:is(:hover, :focus) img { transform: scale(1.1); }

.blog-card .card-banner:focus-within {
  outline: 2px solid var(--white);
  outline-offset: 4px;
}

.blog-card .card-tag {
  color: var(--orange-soda);
  margin-block-end: 5px;
}

.blog-card .card-title {
  color: var(--white);
  font-weight: var(--fw-600);
  line-height: 1.3;
}

.blog-card .card-title a { transition: var(--transition-2); }

.blog-card .card-title a:is(:hover, :focus) { color: var(--orange-soda); }



/* Daily Log Section - Arrange Items Horizontally */
#daily-log {
    padding: 50px;
    bacl
    min-height: 70vh;
    padding-bottom: 150px;

}

#daily-log .head12345 {
    text-align: center;
    margin-bottom: 50px; /* Adjust margin as needed */

}

#reports {  /* NEW CONTAINER */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
   
}

.report-image {

    width: 100%;
    height: 200px; /* Set a fixed height */
    object-fit: contain;
    border-radius: 5px;
}

.report-item {
    flex: 0 0 calc(33.33% - 10px); /* Do not grow, fixed width */
    max-width: calc(33.33% - 10px); /* Prevent it from stretching */
    min-width: 300px;
    background-color: black;
    border: 2px solid #212121;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    box-sizing: border-box;
     position: relative;
}


.report-item:hover {
    transform: scale(1.05);
}

.report-item a {
    text-decoration: none;
    color: rgba(39,65,119,255);
    font-weight: bold;
}

.youtube-link {
    margin-top: 10px;
    display: inline-block;
    font-size: 1.5rem;
}

.report-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* or center, depending on preference */
    gap: 10px;
}


.popup-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    color: white;
    transition: transform 0.3s ease-in-out;
    z-index: 100;
   
}

.popup-card p {
    margin: 10px 0;
}

.popup-card a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.popup-card a:hover {
    color: var(--orange-soda);
}

.popup-card.show {
    transform: translate(-50%, -50%) scale(1);
}

.hidden {
    display: none;
}

.view-more-btn {
    background-color: white;
    color: black;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.6s ease, color 0.6s ease;
}

.view-more-btn:hover {
  background-color: black;
  color: white;

}

.close-popup-btn {
    
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  background-color: inherit;
  color: hsl(7, 96%, 61%);
  font-size: 35px;

}

.close-popup-btn:hover{
  color: hsl(7, 68%, 41%);
}








/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  background-color: #18191A;
  padding-block: 40px;
}

.copyright {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 10px;
}

.copyright-link {
  display: inline-block;
  transition: var(--transition-2);
  font-weight: var(--fw-600);
}

.copyright-link:is(:hover, :focus) { color: var(--white); }

.footer-list {
  max-width: max-content;
  margin-inline: auto;
}

.footer-list * { display: inline-block; }

.footer-list > li:not(:last-child) { margin-inline-end: 40px; }

.footer-link { transition: var(--transition-2); }

.footer-link:is(:hover, :focus) { color: var(--white); }





/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-to-top {
  color: var(--white);
  font-size: 1.3rem;
  position: fixed;
  bottom: 160px;
  right: -30px;
  transform: rotate(0.25turn);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-2);
  z-index: 1;
}

.back-to-top.active {
  right: -5px;
  opacity: 1;
  visibility: visible;
}

.back-to-top::after {
  content: "";
  position: absolute;
  top: 10px;
  left: calc(100% + 7px);
  width: 100px;
  height: 1px;
  background-color: var(--white);
}





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 600px screen
 */

@media only screen and (min-width: 600px) and (max-width: 780px) {
    
    .portfolio-list li:nth-child(even) .card-content { margin-inline-start: 50%; }

    #card1 {
 --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
 width: 230px;
  height: 260px;
 padding: 5px;
 border-radius: 1rem;
 overflow: visible;
 background: #f7ba2b;
 background: var(--background);
 position: relative;
 z-index: 1;
}


}



@media (max-width: 430px) {
.card {
  max-width: 100%;
  height: 190px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 0.5rem;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right top, #3f4c6b, #606c88);
  padding: 1rem;
  color: rgb(107, 114, 128);
  box-shadow: 0px 87px 78px -39px rgba(0,0,0,0.4);

}


.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
  width: 130px;
  font-size: 1.4rem;
  margin-top: -1.7rem;
}

.hero-title {
    --fs-5: 2.2rem;
    margin-block-end: 25px;
    margin-top: -2rem;
  }

  .hero-text{
    margin-top: -2rem;
  }



.social-links,.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  background: white;
  margin: 5px;
  transition: 0.3s;
  justify-content: center;
}

.social-btn svg {
  height: 28px;
  width: 28px;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
}

#twitter svg {
  fill: #1da1f2;
}

#linkedin svg {
  fill: #0e76a8;
}

#github {
  fill: #333;
}

#card1 {
 --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
 width: 160px;
  height: 222px;
 padding: 5px;
 border-radius: 1rem;
 overflow: visible;
 background: #f7ba2b;
 background: var(--background);
 position: relative;
 z-index: 1;
}

#card1::after {
 position: absolute;
 content: "";
 top: -15px;
 left: -1.5rem;
 right: 0;
 z-index: -1;
 height: 120%;
 width: 120%;
 transform: scale(0.8);
 filter: blur(25px);
 background: #f7ba2b;
 background: var(--background);
 transition: opacity .5s;
}

.parent-about {
     display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
    font-size: 12px;

}
    
.div1-about {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    gap: 5px;
    margin-left: 10px;
}

.div2-about {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
    grid-column-start: 4;
}




}





/**
 * responsive for larger than 768px screen
 */

@media only screen and (min-width: 768px) and (max-width: 990px ) {

  /**
   * PORTFOLIO
   */

  .portfolio-card {
    background-size: 115%;
    padding-inline: 80px;
  }

  .portfolio-card:is(:hover, :focus) { background-size: 130%; }



  /**
   * SKILLS, BLOG
   */

  .skills-list,
  .blog-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }

  #card1::after {
 position: absolute;
 content: "";
 top: -30px;
 left: -2.7rem;
 right: 0;
 z-index: -1;
 height: 124%;
 width: 124%;
 transform: scale(0.8);
 filter: blur(25px);
 background: #f7ba2b;
 background: var(--background);
 transition: opacity .5s;
}

}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  #card1{

 margin-right: 10%;
  }

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 6.4rem;
    --fs-2: 3.5rem;
    --fs-3: 3.6rem;

    /**
     * spacing
     */

    --section-padding: 80px;


  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1050px;
    margin-inline: auto;
  }

   .container1 {
    max-width: 450px;
    margin-inline: auto;
  }



  /**
   * HEADER
   */

  .nav-toggle-btn { display: none; }

  .header,
  .header.nav-active {
    background-color: transparent;
    box-shadow: none;
    height: unset;
    padding-block: 30px;
  }

  .header.active {
    background-color: #18191A;
    box-shadow: var(--shadow);
    padding-block: 20px;
  }

  .navbar { all: unset; }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 2.2rem;
  }

  .navbar .btn {
    margin-block-start: 0;
    --padding: 7px 30px;
  }



  /**
   * HERO
   */

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .hero-content { text-align: left; }

  .btn-group { justify-content: flex-start; }

  .hero-title span { font-size: 3rem; }

  .hero-title {
    --fs-5: 2.2rem;
    margin-block-end: 25px;
  }

  .hero-text {
    margin-block-end: 25px;
    font-size: 1.75rem;
  }

  .hero-banner {
    position: relative;
    margin-block-end: 0;
    order: 1;
    width: 340px;
    height: 390px;
    margin-inline: 0;
    margin-inline-start: auto;
  }

  .elem {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--white);
    border-radius: var(--radius-10);
    padding: 20px;
  }

  .elem-1 {
    top: 20px;
    left: -130px;
  }

  .elem-1 .elem-title { color: var(--vivid-sky-blue); }

  .elem-2 {
    bottom: 30px;
    right: -80px;
  }

  .elem-2 .elem-title { color: var(--fiery-rose); }

  .elem-title {
    font-size: 4.5rem;
    line-height: 1.1;
  }

  .elem-text {
    max-width: 10ch;
    color: var(--black);
    font-weight: var(--fw-700);
    line-height: 1.1;
  }

  .elem-3 {
    top: -40px;
    right: -30px;
  }

  .elem-3 ion-icon {
    color: var(--minion-yellow);
    font-size: 6rem;
  }

  .rotate-img {
    display: block;
    position: absolute;
    bottom: -60px;
    left: -60px;
    width: 120px;
    animation: rotate360 15s linear infinite reverse;
  }

  @keyframes rotate360 {
    0% { transform: rotate(0); }
    100% { transform: rotate(1turn); }
  }





  /**
   * ABOUT
   */

  .about { padding-block: 180px; }

  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 80px;
  }

  .about-banner {
    position: relative;
    margin-block-end: 0;
  }

  .abs-img,
  .abs-icon {
    display: block;
    position: absolute;
  }

  .abs-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: inherit;
    bottom: -150px;
    left: -100px;
  }

  .abs-icon {
    font-size: 5rem;
    padding: 20px;
    border-radius: inherit;
  }

  .abs-icon-1 {
    top: 50px;
    left: -120px;
    background-color: var(--bluetiful);
  }

  .abs-icon-2 {
    top: -40px;
    right: -40px;
    background-color: var(--gold-web-golden);
  }

  .abs-icon-3 {
    bottom: -40px;
    left: 250px;
    background-color: var(--rufous);
  }



  /**
   * PORTFOLIO
   */

  .portfolio-card .card-subtitle { font-size: var(--fs-5); }

  .portfolio-card .btn-link { --fs-6: 1.6rem; }



  /**
   * SKILLS
   */

  .skills-list { column-gap: 100px; }



  /**
   * CONTACT
   */

  .contact-card { padding: 100px; }

  .contact .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .contact-form { margin-block-end: 0; }

  .contact-item { gap: 25px; }

  .contact-icon { padding: 30px; }



  /**
   * BLOG
   */

  .blog { padding-block-end: 180px; }

  .blog-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  

  /**
   * FOOTER
   */

  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright,
  .footer-list { margin-inline: 0; }

}